{{ partial "header.html" . }}

{{ if or (in .URL "blog") (in .URL "tags") (in .URL "posts") }}

{{ range sort .Paginator.Pages }}
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="timestamp">{{ .Date.Format "January 2, 2006" }}</p>
    <div class="content">
    {{ .Summary | plainify | safeHTML }}
    {{ if .Truncated }}
      ... <a href="{{ .Permalink }}">Read more &hellip;</a>
               {{ end }}
               </div>
               <div style="color:grey; font-size:16px;">
                 {{ if .Params.tags }}<strong>Tags:</strong>
                 {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                 {{ end }}
                 {{ end }}
               </div>
    </div>
{{ end }}
{{ end }}

{{ partial "footer" . }}
